.container__conteudo {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: center;
    gap: 40px; /* espaço entre robô e texto */
}

.container__imagem-robo {
    max-width: 300px;
}

.container__informacoes {
    max-width: 400px;
}