/* Aumenta o tamanho do campo de input */
#chute {
    font-size: 24px;
    padding: 10px;
}

/* Aumenta o botão */
#botaoChutar {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Aumenta a mensagem de retorno */
#mensagem {
    font-size: 26px;
    margin-top: 15px;
}